<launch>
  <master auto="start"/>

 
<!--  
  <env name="ROBOT" value="sim"/>
  <include file="$(find rosclj)/sim1.launch"/> 
-->

  <include file="$(find 2dnav_pr2)/rviz/rviz_move_base.launch"/>
  <include file="$(find tabletop_scripts)/launch/laser-perception.launch"/> 
  <include file="$(find tabletop_scripts)/launch/ompl_planning.launch"/> 
  <include file="$(find tabletop_scripts)/launch/rarm.launch"/> 
  <include file="$(find tabletop_scripts)/launch/larm.launch"/> 
<!--  <include file="$(find ompl_planning)/motion_planning.launch"/> -->

  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/l_gripper_position_controller.xml" />
  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/r_gripper_position_controller.xml" />
<!--  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/torso_lift_vel_controller.xml" /> -->
  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/gazebo_head_torso_lift_controller.xml" /> 
 
  <node pkg="tf_node" type="tf_node" />
  <node pkg="navfn" type="navfn_node" />
  <include file="$(find angelic_planning)/future_ompl_planning.launch"/> 

</launch>
