<launch>
  <master auto="start"/>
  <node pkg="tf_node" type="tf_node" />

  <include file="$(find 3dnav_pr2)/launch/perception/laser-perception.launch"/> 
  <include file="$(find 3dnav_pr2)/launch/planning/ompl_fake_planning.launch"/> 
  <include file="$(find 3dnav_pr2)/launch/actions/right_arm.launch"/> 
  <include file="$(find 3dnav_pr2)/launch/actions/left_arm.launch"/> 

  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/head_position_controller.xml" /> 
 
  <include file="$(find find_bottles)/find_bottle.launch"/>
  <include file="$(find table_object_detector)/table_object_detector.launch"/>

</launch>
